* {
  box-sizing: border-box;
}
.title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 40px;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0px 10px;
}
.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .main-content {
    flex-grow: 1;
    padding: 40px 0px;
    background-color: #f2f2f2;
  }
}
body {
  background-color: #c9c9c9;
}
a {
  display: block;
}

// button
.site-button {
  border: none;
  padding: 5px 25px;
  border-radius: 4px;
  transition: 0.15s;
  display: block;
  &:hover {
    color: #f2f2f2;
    background: #383838;
  }
  &.site-button_middle {
    margin: 0 auto;
  }
  &.site-button_top-margin {
    margin-top: 20px;
  }
}
