* {
  box-sizing: border-box;
}
.title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 40px;
}
.title_small {
  font-size: 24px;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0px 10px;
  font-size: 20px;
}
button {
  font-size: 20px;
}
.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .main-content {
    flex-grow: 1;
    padding: 40px 0px;
    background-color: #ffffff;
  }
}
body {
  background-color: #c9c9c9;
}
a {
  display: block;
  text-decoration: none;
  color: #000000;
  transition: 0.15s;
  &:hover {
    color: rgb(0, 162, 255);
  }
}

// button
.site-button {
  border: none;
  padding: 5px 25px;
  border-radius: 4px;
  transition: 0.15s;
  display: block;
  background-color: rgb(0, 162, 255);
  color: #f2f2f2;

  &:hover {
    opacity: 0.7;
  }
  &.site-button_middle {
    margin: 0 auto;
  }
  &.site-button_top-margin {
    margin-top: 20px;
  }
}
